<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="Administrador" />
      <allow roles="AuditorExterno" />
      <allow roles="TecnicoGFI" />
      <allow roles="SoporteGFI" />
      <allow roles="CoordinadorGFI" />
      <allow roles="CAGestion" />
      <allow roles="CARevision" />
      <allow roles="CARecepcion" />
      <allow roles="TecnicoCentroHTP" />
      <allow roles="TecnicoGFIPATI" />
      <allow roles="CoordinadorPATI" />
      <allow roles="TecnicoPROYESPECIAL" />
      <allow roles="JefeHTP" />
      <allow roles="GerenteGFI" />
      <allow roles="Proveedor" />
      <allow roles="Auditor" />
      <allow roles="ProveedorPATI" />
      <allow roles="ProveedorFacturacionPATI" />
      <allow roles="ProveedorFacturacionHTP" />
      <allow roles="ProveedorPROYESPECIAL" />
      <allow roles="CentroCapacitador" />
      <allow roles="AsistenteGFI" />
      <allow roles="ColaboradorUACIPATI" />
      <allow roles="ColaboradorUACIHTP" />
      <allow roles="GerenteUFI" />
      <allow roles="Bolproes" />
      <deny users="*" />
    </authorization>
  </system.web>


  <location path="wfGestionUsuarios.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />    
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfGestionOpciones.aspx,wfGestionOpcionesPorRol.aspx,wfGestionRoles.aspx,wfGestionSistemas.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="wfCambioClave.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="AuditorExterno" />
        <allow roles="TecnicoGFI" />
        <allow roles="SoporteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="CAGestion" />
        <allow roles="CARevision" />
        <allow roles="CARecepcion" />
        <allow roles="ColaboradorUACIPATI" />
        <allow roles="ColaboradorUACIHTP" />
        <allow roles="TecnicoCentroHTP" />
        <allow roles="TecnicoGFIPATI" />
        <allow roles="CoordinadorPATI" />
        <allow roles="TecnicoPROYESPECIAL" />
        <allow roles="Auditor" />
        <allow roles="JefeHTP" />
        <allow roles="GerenteGFI" />
        <allow roles="Proveedor" />
        <allow roles="ProveedorPATI" />
        <allow roles="ProveedorFacturacionPATI" />
        <allow roles="ProveedorFacturacionHTP" />
        <allow roles="ProveedorPROYESPECIAL" />
        <allow roles="CentroCapacitador" />
        <allow roles="AsistenteGFI" />
        <allow roles="GerenteUFI" />
        <allow roles="Bolproes" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfGestionSistemas.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfGestionRoles.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfGestionOpciones.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfGestionOpcionesPorRol.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfRecuperarClave.aspx">
    <system.web>
      <authorization>
        <deny users="*" />        
      </authorization>
    </system.web>
  </location>

</configuration>