<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SGAFP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SGAFP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <!--PRUEBA LOCAL-->
    <!--<add key="cnnString" value="Data Source=XE;User ID=insaforp;Password=insaforp;Unicode=True"/>-->
    <!--PRUEBA-->
    <!--<add key="cnnString" value="Data Source=192.168.1.5;User ID=insaforp;Password=insaforp;Unicode=True" />-->
    <!--PRODUCCION-->
    <add key="cnnString" value="Data Source=192.168.1.31;User ID=insaforp;Password=insaforp;Unicode=True" />
    <add key="TituloAplicacion" value="SGAFP" />
    <add key="SMTP_HOST" value="192.168.1.254" />
    <add key="SMTP_PUERTO" value="25" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="cnnStringSIFP" connectionString="DSN=SIFP;UID=dba;PWD=IN020693" providerName="System.Data.Odbc" />
    <add name="SIFP.DL.My.MySettings.ConnectionStringSiFp" connectionString="DSN=SIFP;UID=dba;PWD=IN020693" providerName="System.Data.Odbc" />       
    <add name="SGAFP.DL.My.MySettings.ConnectionString" connectionString="Data Source=192.168.1.31;User ID=insaforp;Password=insaforp;Unicode=True" providerName="System.Data.OracleClient" />
    <add name="ConnectionString" connectionString="Data Source=192.168.1.31;User ID=insaforp;Password=insaforp;Unicode=True" providerName="System.Data.OracleClient" />
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source= 192.168.1.31\SQLEXPRESS,1433;Initial Catalog= INSAHBL_Security;User ID=sa;Password=h@b1l17In$" providerName="System.Data.SqlClient" />
    <add name="MembershipSqlServer" connectionString="Data Source= 192.168.1.31\SQLEXPRESS,1433;Initial Catalog= INSAHBL_Security;User ID=sa;Password=h@b1l17In$" providerName="System.Data.SqlClient" />


    <!--<add name="cnnStringSIFP" connectionString="DSN=SIFP;UID=dba;PWD=IN020693" providerName="System.Data.Odbc" />
    <add name="SIFP.DL.My.MySettings.ConnectionStringSiFp" connectionString="DSN=SIFP;UID=dba;PWD=IN020693" providerName="System.Data.Odbc" />
    <add name="SGAFP.DL.My.MySettings.ConnectionString" connectionString="Data Source=192.168.1.5;User ID=insaforp;Password=insaforp;Unicode=True" providerName="System.Data.OracleClient" />
    <add name="ConnectionString" connectionString="Data Source=192.168.1.5;User ID=insaforp;Password=insaforp;Unicode=True" providerName="System.Data.OracleClient" />
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source= 192.168.1.31\SQLEXPRESS,1433;Initial Catalog= INSAHBL_Security;User ID=sa;Password=h@b1l17In$" providerName="System.Data.SqlClient" />
    <add name="MembershipSqlServer" connectionString="Data Source= 192.168.1.31\SQLEXPRESS,1433;Initial Catalog= INSAHBL_Security;User ID=sa;Password=h@b1l17In$" providerName="System.Data.SqlClient" />-->
    
  </connectionStrings>
  <system.web>
    <roleManager enabled="true"/>
    <membership defaultProvider="SGAFPMemberShipProvider">
    <providers>
      <clear />
      <add name="SGAFPMemberShipProvider" connectionStringName="LocalSqlServer" applicationName="/" type="SQLMembershipProvider.BL.cmembershipProvider, SQLMembershipProvider_BL" />
    </providers>
    </membership>
  </system.web>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="False" proxyaddress="http://192.168.1.254:8080" bypassonlocal ="True" />      
      <bypasslist/>
      <module/>
    </defaultProxy>
  </system.net>
  <userSettings>
    <SGAFP.My.MySettings>
      <setting name="SkinSeleccionado" serializeAs="String">
        <value />
      </setting>
    </SGAFP.My.MySettings>
  </userSettings>
  <applicationSettings>
    <SGAFP.My.MySettings>
      <setting name="idSistema" serializeAs="String">
        <value>3</value>
      </setting>
    </SGAFP.My.MySettings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="wsSGAFPSoap" />
        <binding name="wsSGAFPSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://habil.insaforp.org.sv/wsSGAFP.asmx" binding="basicHttpBinding" bindingConfiguration="wsSGAFPSoap" contract="srvSGAFP.wsSGAFPSoap" name="wsSGAFPSoap" />
      <endpoint address="http://localhost:65146/SGAFP/wsSGAFP.asmx" binding="basicHttpBinding" bindingConfiguration="wsSGAFPSoap1" contract="srvLOCAL.wsSGAFPSoap" name="wsSGAFPSoap1" />
    </client>
  </system.serviceModel>
</configuration>