<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="Administrador" />
      <allow roles="ColaboradorUACIHTP" />
      <allow roles="ColaboradorUACIPATI" />
      <allow roles="ColaboradorPROYESPECIAL" />      
      <allow roles="ProveedorFacturacionPATI" />
      <allow roles="ProveedorFacturacionHTP" />
      <allow roles="ProveedorFacturacionPROYESPECIAL" />
      <allow roles="CARevision" />
      <allow roles="CAGestion" />
      <allow roles="Bolproes" />
      <deny users="*" />
    </authorization>
  </system.web>

  <location path="wfFacturaAccionFormativa.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="ProveedorFacturacionPATI" />
        <allow roles="ProveedorFacturacionHTP" />
        <allow roles="ProveedorFacturacionPROYESPECIAL" />
        <allow roles="ColaboradorUACIPATI" />
        <allow roles="ColaboradorUACIPROYESPECIAL" />
        <allow roles="CARevision" />
        <allow roles="CAGestion" />
        <allow roles="Bolproes" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfFacturaBolproes.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />        
        <allow roles="Bolproes" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfRecepcionAccionesFormativas.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />        
        <allow roles="ColaboradorUACIPATI" />
        <allow roles="ColaboradorUACIPROYESPECIAL" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>


</configuration>
