<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
          <allow roles="Administrador" />
          <allow roles="Proveedor" />
          <allow roles="ProveedorPATI" />          
          <allow roles="CentroCapacitador" />
          <allow roles="ProveedorPROYESPECIAL" />
          <allow roles="CoordinadorGFI" />
          <allow roles="GerenteGFI" />
          <allow roles="TecnicoGFI" />
          <deny users="*" />
        </authorization>
    </system.web>

  <location path="wfSolicitudParticipantesSinDoctos.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="AutorizarParticipantesSinDoctos" />        
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>