<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <deny users="*" />
    </authorization>
  </system.web>
  <!--<system.web>
    <authorization>
      <allow roles="Administrador" />
      <allow roles="TecnicoGFI" />
      <allow roles="SoporteGFI" />
      <allow roles="CoordinadorGFI" />
      <allow roles="Proveedor" />
      <allow roles="CentroCapacitador" />
      <allow roles="TecnicoCentroHTP" />
      <allow roles="TecnicoGFIPATI" />
      <allow roles="CoordinadorPATI" />
      <allow roles="JefeHTP" />
      <allow roles="AsistenteGFI" />
      <allow roles="GerenteGFI" />
      <allow roles="Auditor" />
      <allow roles="CAGestion" />
      <allow roles="CARevision" />
      <allow roles="CARecepcion" />
      <deny users="*" />
    </authorization>
  </system.web>

  <location path="Default.aspx">
  <system.web>
    <authorization>
      <allow roles="Administrador" />
      <allow roles="TecnicoGFI" />
      <allow roles="SoporteGFI" />
      <allow roles="CoordinadorGFI" />
      <allow roles="Proveedor" />
      <allow roles="CentroCapacitador" />
      <allow roles="TecnicoCentroHTP" />
      <allow roles="TecnicoGFIPATI" />
      <allow roles="CoordinadorPATI" />
      <allow roles="JefeHTP" />
      <allow roles="AsistenteGFI" />
      <allow roles="GerenteGFI" />
      <allow roles="Auditor" />
      <allow roles="ColaboradorGCI" />
      <allow roles="CAGestion" />
      <allow roles="CARevision" />
      <allow roles="CARecepcion" />
      <deny users="*" />
    </authorization>
  </system.web>
  </location>
  
  <location path="wfConsultarEjecucionOfertaFormativa.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="TecnicoGFI" />
        <allow roles="SoporteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="Proveedor" />
        <allow roles="CentroCapacitador" />
        <allow roles="TecnicoCentroHTP" />
        <allow roles="TecnicoGFIPATI" />
        <allow roles="CoordinadorPATI" />
        <allow roles="JefeHTP" />
        <allow roles="AsistenteGFI" />
        <allow roles="GerenteGFI" />
        <allow roles="Auditor" />
        <allow roles="CAGestion" />
        <allow roles="CARevision" />
        <allow roles="CARecepcion" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfConsultarEjecucionCursosPATI.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="TecnicoGFI" />
        <allow roles="SoporteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="TecnicoGFIPATI" />
        <allow roles="CoordinadorPATI" />
        <allow roles="CAGestion" />
        <allow roles="CARevision" />        
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="wfConsultarOfertaFormativa.aspx">
    <system.web>
      <authorization>
        <allow roles="TecnicoGFI" />
        <allow roles="SoporteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="Administrador" />
        <allow roles="Proveedor" />
        <allow roles="CentroCapacitador" />
        <allow roles="TecnicoCentroHTP" />
        <allow roles="JefeHTP" />
        <allow roles="AsistenteGFI" />
        <allow roles="GerenteGFI" />
        <allow roles="CAGestion" />
        <allow roles="CARevision" />        
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfReporteEjecucion.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />            
        <allow roles="JefeHTP" />
        <allow roles="AsistenteGFI" />
        <allow roles="GerenteGFI" />
        <allow roles="CAGestion" />
        <allow roles="CARevision" />
        <allow roles="CARecepcion" />     
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfReporteEjecucionDE.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />       
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfReporteUtilizacionRecursos.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />                
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfReporteResumenEjecucion.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>-->
  

</configuration>