<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="Administrador" />
      <allow roles="TecnicoGFI" />
      <allow roles="SoporteGFI" />
      <allow roles="CoordinadorGFI" />
      <allow roles="Proveedor" />
      <allow roles="ProveedorPATI" />
      <allow roles="ProveedorPROYESPECIAL" />
      <allow roles="CentroCapacitador" />      
      <allow roles="TecnicoCentroHTP" />
      <allow roles="TecnicoGFIPATI" />
      <allow roles="CoordinadorPATI" />
      <allow roles="TecnicoPROYESPECIAL" />
      <allow roles="JefeHTP" />
      <allow roles="AsistenteGFI" />
      <allow roles="GerenteGFI" />
      <allow roles="GerenteUFI" />
      <allow roles="ColaboradorUACIPATI" />
      <allow roles="CARecepcion" />
      <allow roles="CAGestion" />
      <allow roles="CARevision" />
      <deny users="*" />
    </authorization>
  </system.web>

  <location path="wfReporteInformesCA.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="CAGestion" />
        <allow roles="GerenteGFI" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>


  <location path="wfReporteParticipantesSolicitados.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="ColaboradorGCI" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  
  <location path="wfReporteSolicitudParticipantesInscritosPATI.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="TecnicoGFI" />
        <allow roles="SoporteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="Proveedor" />
        <allow roles="ProveedorPATI" />
        <allow roles="ProveedorPROYESPECIAL" />
        <allow roles="CentroCapacitador" />
        <allow roles="TecnicoCentroHTP" />
        <allow roles="TecnicoGFIPATI" />
        <allow roles="CoordinadorPATI" />
        <allow roles="TecnicoPROYESPECIAL" />
        <allow roles="JefeHTP" />
        <allow roles="AsistenteGFI" />
        <allow roles="GerenteGFI" />
        <allow roles="GerenteUFI" />
        <allow roles="ColaboradorUACIPATI" />
        <allow roles="ColaboradorGCI" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
</configuration>
