<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="Administrador" />
      <allow roles="Proveedor" />
      <allow roles="CentroCapacitador" />
      <allow roles="TecnicoCentroHTP" />
      <allow roles="JefeHTP" />
      <allow roles="AsistenteGFI" />
      <allow roles="GerenteGFI" />
      <allow roles="ProveedorPATI" />
      <allow roles="TecnicoGFIPATI" />
      <allow roles="TecnicoGFI" />
      <allow roles="SoporteGFI" />
      <allow roles="CoordinadorGFI" />
      <allow roles="CoordinadorPATI" />
      <allow roles="ColaboradorUACIPATI" />
      <allow roles="ProveedorPROYESPECIAL" />
      <allow roles="TecnicoPROYESPECIAL" />
      <allow roles="CAGestion" />
      <allow roles="CARevision" />
      <allow roles="CARecepcion" />
      <allow roles="SoporteGFI" />
      <allow roles="Auditor" />
      <allow roles="AuditorUMEFP" />
      <deny users="*" />
    </authorization>    
  </system.web>

  <location path="wfAsistenciaAccionFormativa.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="Proveedor" />
        <allow roles="ProveedorPATI" />
        <allow roles="TecnicoGFI" />
        <allow roles="SoporteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="CentroCapacitador" />
        <allow roles="ProveedorPROYESPECIAL" />
        <allow roles="CAGestion" />
        <allow roles="CARevision" />        
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfInformacionCentroFormacion.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="Proveedor" />        
        <allow roles="CentroCapacitador" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfCalendarizacionCursos.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="TecnicoGFI" />
        <allow roles="SoporteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="Proveedor" />
        <allow roles="ProveedorPATI" />
        <allow roles="CentroCapacitador" />
        <allow roles="TecnicoCentroHTP" />
        <allow roles="TecnicoGFIPATI" />
        <allow roles="CoordinadorPATI" />
        <allow roles="TecnicoPROYESPECIAL" />
        <allow roles="AsistenteGFI" />
        <allow roles="ColaboradorUACIPATI" />
        <allow roles="ProveedorPROYESPECIAL" />
        <allow roles="ColaboradorUACIPROYESPECIAL" />
        <allow roles="CAGestion" />
        <allow roles="CARevision" />
        <allow roles="CARecepcion" />        
        <allow roles="Auditor" />
        <allow roles="AuditorUMEFP" />
        <allow roles="GerenteGFI" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfConsultarParticipantes.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="TecnicoGFI" />
        <allow roles="SoporteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="TecnicoCentroHTP" />
        <allow roles="TecnicoGFIPATI" />
        <allow roles="CoordinadorPATI" />
        <allow roles="TecnicoPROYESPECIAL" />
        <allow roles="Proveedor" />
        <allow roles="CentroCapacitador" />
        <allow roles="CAGestion" />
        <allow roles="CARevision" />        
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfConsultarSolicitudes.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="TecnicoGFI" />
        <allow roles="SoporteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="Proveedor" />
        <allow roles="ProveedorPATI" />
        <allow roles="CentroCapacitador" />
        <allow roles="TecnicoCentroHTP" />
        <allow roles="CoordinadorPATI" />
        <allow roles="TecnicoGFIPATI" />
        <allow roles="TecnicoPROYESPECIAL" />
        <allow roles="ProveedorPROYESPECIAL" />
        <allow roles="CAGestion" />
        <allow roles="CARevision" />        
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfEvaluarSolicitudes.aspx">
    <system.web>
      <authorization>      
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfEvaluacionesAccionFormativa.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="TecnicoGFI" />
        <allow roles="SoporteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="Proveedor" />
        <allow roles="ProveedorPATI" />
        <allow roles="CentroCapacitador" />
        <allow roles="ProveedorPROYESPECIAL" />
        <allow roles="CAGestion" />
        <allow roles="CARevision" />        
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="wfReprogramacionCursos.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="TecnicoGFI" />
        <allow roles="SoporteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="TecnicoCentroHTP" />        
        <allow roles="TecnicoGFIPATI" />
        <allow roles="CoordinadorPATI" />
        <allow roles="TecnicoPROYESPECIAL" />
        <allow roles="JefeHTP" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfInformeFinalAccionFormativa.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="TecnicoGFI" />
        <allow roles="SoporteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="Proveedor" />
        <allow roles="ProveedorPATI" />
        <allow roles="CentroCapacitador" />
        <allow roles="AsistenteGFI" />
        <allow roles="TecnicoCentroHTP" />
        <allow roles="TecnicoPROYESPECIAL" />
        <allow roles="TecnicoGFIPATI" />
        <allow roles="CoordinadorPATI" />
        <allow roles="JefeHTP" />
        <allow roles="GerenteGFI" />
        <allow roles="ProveedorPROYESPECIAL" />
        <allow roles="CAGestion" />
        <allow roles="CARevision" />
        <allow roles="CARecepcion" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfParticipantesExoneradosDoctos.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="JefeHTP" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>