<?xml version="1.0" encoding="utf-8"?>

<configuration>  
  <system.web>
    <authorization>
      <allow roles="Administrador" />
      <allow roles="TecnicoGFI" />
      <allow roles="SoporteGFI" />
      <allow roles="CoordinadorGFI" />
      <allow roles="CoordinadorECentro" />
      <allow roles="TecnicoCentroHTP" />
      <allow roles="TecnicoGFIPATI" />
      <allow roles="CoordinadorPATI" />
      <allow roles="JefeHTP" />      
      <allow roles="GerenteGFI" />
      <allow roles="Auditor" />
      <allow roles="AuditorUMEFP" />
      <deny users="*" />
    </authorization>
  </system.web> 

  <location path="wfCorreccionDatosParticipantePATI.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />    
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfMantACCION_PROGRA_RETRO.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="GerenteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="SoporteGFI" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfMantACCION_FORMATIVA_SEGUI.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="GerenteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="CoordinadorECentro" />
        <allow roles="SoporteGFI" />
        <allow roles="Auditor" />
        <allow roles="AuditorUMEFP" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfMantACCION_FORMATIVA_PENA.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="GerenteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="CoordinadorECentro" />
        <allow roles="SoporteGFI" />
        <allow roles="Auditor" />
        <allow roles="AuditorUMEFP" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfMantCONTRATO_COMPRA.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="GerenteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="CoordinadorECentro" />
        <allow roles="SoporteGFI" />      
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfMantTERMINO_PARAMETROS_PAGO.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="GerenteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="CoordinadorECentro" />
        <allow roles="SoporteGFI" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <!--<location path="wfMantASISTENCIA_PAGO.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="GerenteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="CoordinadorECentro" />
        <allow roles="SoporteGFI" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>-->
  <location path="wfMantMODALIDAD_DE_FORMACION.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="GerenteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="CoordinadorECentro" />
        <allow roles="SoporteGFI" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

</configuration>
