<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="Administrador" />
      <allow roles="GerenteUFI" />
      <deny users="*" />
    </authorization>
  </system.web>

  <location path="wfConvocatoriasMunicipioPATI.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="GerenteUFI" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfLiquidacionesMunicipiosPATI.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="GerenteUFI" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfDesembolsosPATI.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="GerenteUFI" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>


</configuration>