<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="Administrador" />
      <allow roles="TecnicoGFI" />
      <allow roles="SoporteGFI" />
      <allow roles="CoordinadorGFI" />
      <allow roles="Proveedor" />
      <allow roles="ProveedorPATI" />
      <allow roles="ProveedorPROYESPECIAL" />
      <allow roles="ProveedorFacturacionPROYESPECIAL" />
      <allow roles="CentroCapacitador" />
      <allow roles="TecnicoCentroHTP" />
      <allow roles="TecnicoGFIPATI" />
      <allow roles="CoordinadorPATI" />
      <allow roles="TecnicoPROYESPECIAL" />
      <allow roles="JefeHTP" />
      <allow roles="AsistenteGFI" />
      <allow roles="GerenteGFI" />
      <allow roles="GerenteUFI" />
      <deny users="*" />
    </authorization>
  </system.web>

  <location path="ManualUsuarioHTP2.pdf">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="TecnicoGFI" />
        <allow roles="SoporteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="Proveedor" />
        <allow roles="CentroCapacitador" />
        <allow roles="TecnicoCentroHTP" />        
        <allow roles="JefeHTP" />
        <allow roles="AsistenteGFI" />
        <allow roles="GerenteGFI" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>  

  <location path="GuiaInscripcionParticipantesHTP.pdf">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="TecnicoGFI" />
        <allow roles="SoporteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="Proveedor" />
        <allow roles="CentroCapacitador" />
        <allow roles="TecnicoCentroHTP" />
        <allow roles="JefeHTP" />
        <allow roles="AsistenteGFI" />
        <allow roles="GerenteGFI" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="ManualUsuarioPATI.pdf">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="TecnicoGFI" />
        <allow roles="SoporteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="ProveedorPATI" />
        <allow roles="ProveedorFacturacionPATI" />
        <allow roles="TecnicoCentroHTP" />
        <allow roles="TecnicoGFIPATI" />
        <allow roles="CoordinadorPATI" />
        <allow roles="JefeHTP" />
        <allow roles="AsistenteGFI" />
        <allow roles="GerenteGFI" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="ManualUsuarioProveedorPROYECTOESPECIAL.pdf">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="TecnicoGFI" />
        <allow roles="SoporteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="JefeHTP" />
        <allow roles="AsistenteGFI" />
        <allow roles="GerenteGFI" />
        <allow roles="ProveedorPROYESPECIAL" />
        <allow roles="ProveedorFacturacionPROYESPECIAL" />
        <allow roles="TecnicoPROYESPECIAL" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="FichaDncPATI.pdf">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="TecnicoGFI" />
        <allow roles="SoporteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="ProveedorPATI" />
        <allow roles="TecnicoCentroHTP" />
        <allow roles="TecnicoGFIPATI" />
        <allow roles="CoordinadorPATI" />
        <allow roles="JefeHTP" />
        <allow roles="AsistenteGFI" />
        <allow roles="GerenteGFI" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="ManualProcesoLiquidacionPATI.pdf">
    <system.web>
      <authorization>        
        <allow roles="GerenteUFI" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="FichaInscripcionHTP.pdf">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="TecnicoGFI" />
        <allow roles="SoporteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="Proveedor" />
        <allow roles="CentroCapacitador" />
        <allow roles="TecnicoCentroHTP" />        
        <allow roles="JefeHTP" />
        <allow roles="AsistenteGFI" />
        <allow roles="GerenteGFI" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  
</configuration>