<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="Administrador" />
      <allow roles="GerenteGFI" />
      <allow roles="SoporteGFI" />
      <deny users="*" />
    </authorization>
  </system.web>

  <location path="wfMantACCION_CONTRATADA.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="GerenteGFI" />
        <allow roles="SoporteGFI" />
        <allow roles="Proveedor" />
        <allow roles="ProveedorPROYESPECIAL" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfMantGRUPO_SELECCION.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="GerenteGFI" />
        <allow roles="SoporteGFI" />
        <allow roles="Proveedor" />
        <allow roles="ProveedorPROYESPECIAL" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfMantSOLICITUD_PRESELECCION_EC.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="GerenteGFI" />
        <allow roles="SoporteGFI" />
        <allow roles="Proveedor" />
        <allow roles="ProveedorPROYESPECIAL" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="wfCalendarizarGrupo.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="GerenteGFI" />
        <allow roles="SoporteGFI" />
        <allow roles="Proveedor" />
        <allow roles="ProveedorPROYESPECIAL" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
<location path="wfInformePreseleccion.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="GerenteGFI" />
        <allow roles="SoporteGFI" />
        <allow roles="Proveedor" />
        <allow roles="ProveedorPROYESPECIAL" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

</configuration>