<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <system.web>
    <authorization>
      <allow roles="Administrador" />
      <allow roles="GerenteGFI" />
      <allow roles="CoordinadorGFI" />
      <allow roles="CoordinadorECentro" />
      <allow roles="TecnicoPROYESPECIAL" />
      <deny users="*" />
    </authorization>
  </system.web>

  <location path="wfMantPROVEEDOR_AF.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="GerenteGFI" />
        <allow roles="CoordinadorGFI" />
        <allow roles="CoordinadorECentro" />
        <allow roles="TecnicoPROYESPECIAL" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

	<location path="wfMantPROGRAMA_FORMACION.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrador" />
        <allow roles="GerenteGFI" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
  
</configuration>